.Cart {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Title {
    margin: 20px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    & h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
        color: rgb(0, 0, 0);
        line-height: 28px;
        text-transform: uppercase;
        flex-basis: calc(797px);
    }
}
.Content {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-basis: 100%;
}
.Left {
    flex: 1 1 910px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    & li {
        list-style: none;
    }
}
.Heading {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 9px 16px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    position: sticky;
    top: 20px;
    z-index: 99;
    display: grid;
    grid-template-columns: 398px 190px 130px 130px 30px;

    align-items: center;
    & label {
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
    }
}
.Intended {
    list-style: none;
    margin: 32px 0px 0px;
    padding: 0px 16px 3px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.NormalProduct {
    margin-bottom: 32px;
}
.Row {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin: 0px -15px;
}
.Col1 {
    width: 398px;
    padding: 0px 15px;
    & h4 {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;

        font-size: 13px;
        color: rgb(36, 36, 36);
        margin-bottom: 5px;
        line-height: 20px;
    }
    & span {
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(0, 153, 0);
        font-size: 11px;
    }
}
.Col2 {
    width: 190px;
    padding: 0px 15px;
    & span {
        font-weight: 500;
        color: rgb(36, 36, 36);
        font-size: 13px;
        display: inline-block;
        margin-right: 5px;
    }
}
.Col3 {
    width: 130px;
    padding: 0px 30px;
    & span {
        font-size: 13px;
    }
}
.Col4 {
    width: 120px;
    padding: 0px 15px;
    & span {
        color: rgb(255, 66, 78);
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        display: block;
    }
}

.Right {
    flex: 1 1 calc(100% - 925px);
    margin-left: 20px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.PriceSummary {
    border-radius: 4px;
    padding-bottom: 8px;
}
.PriceItems {
    margin: 0px;
    padding: 17px 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.PriceItem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    & span {
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
    }
}

.PriceTotal {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 17px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
}
.PricesContent {
    display: flex;
    flex-direction: column;
}
.Values {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.Noted {
    font-size: 10px;

    margin-top: 3px;
}
.Button {
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
    margin: 15px 0px 0px;
}
